<table>
    @foreach (CodeAnalyzeMVC2015.Models.ArticleModel articlesModel in Model)
    {
        <tr>
            <td colspan="5">
                <img id="imgArrow" src="~/Images/WriteArticle.png" height="25" width="25" />
                @Html.ActionLink(articlesModel.ArticleTitle, "Index", "Articles", new { @ArticleID = articlesModel.ArticleID, @ArticleTitle = articlesModel.ArticleTitle }, null)
            </td>
        </tr>
        <tr>
            <td style="width: 80px; padding-left: 0"><span class="date">@DateTime.Parse(@articlesModel.InsertedDate).ToShortDateString()</span></td>
            <td style="width: 80px; padding-left: 0"><i class="fa fa-thumbs-o-up"></i>@articlesModel.ThumbsUp</td>
            <td style="width: 80px; padding-left: 0"><i class="fa fa-thumbs-o-down"></i>@articlesModel.ThumbsDown</td>
            <td style="width: 20px; padding-left: 0">
                <img id="ImageButton1" src="~/Images/eye.png"  style="width:20px;height:20px;" />
                
            </td>
            <td style="width: 40px; padding-left: 0">@articlesModel.Views</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    }
</table>