@{
    ViewBag.Title = Model.QuestionTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CodeAnalyzeMVC2015.Models.VwSolutionsModel

@*<title>@Model.QuestionTitle</title>*@
<meta name="description" content="@ViewBag.keywords" />

<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="~/js/TinyMCE.1.4.js"></script>


@{
    System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9 -]");

    if (Model.QuestionTitle != null)
    {
        Model.QuestionTitle = rgx.Replace(Model.QuestionTitle, "").Replace(" ", "-");
    }
    else
    {
        if (ViewBag.keywords != null)
        {
            Model.QuestionTitle = rgx.Replace(ViewBag.keywords, "").Replace(" ", "-");
        }
    }
}





    <table style="width: 100%; word-wrap:break-word;">
        <tr>
            <td align="left">
                <table style="width:50%;">
                    <tr>
                        <td style="width: 20%;">
                            @if (!string.IsNullOrEmpty(Model.ImageURL))
                            {
                                <img id="imgAskedUser"  title="User Avatar" src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(Model.ImageURL))" style="height:50px;width:50px" />
                            }
                         </td>
                        <td align="left" style="width:80%;font-weight:bold;font-family:Calibri">@Model.AskedUser</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="width: 100%;font-weight:bold;font-family:Calibri;font-size:24px;color:#333">
                <b>@ViewBag.keywords</b>
            </td>
        </tr>

        <tr>
            <td align="right" style="padding-right:2%">
                <img id="ImageButton1" style="height:30px;width:30px" title="Views" src="~/Images/eye.png" />@Html.Raw(Model.QuestionViews)
            </td>
        </tr>

        <tr>
            <td style="width: 100%;font-family:Calibri;font-size:16px;color:#333">
                @Html.Raw(ViewBag.QuestionDetails)
            </td>
        </tr>

    </table>

    <br />
    <br />

    <table id="tblReplies" style="font-size:16px;word-wrap:break-word;width:100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                @if (ViewBag.AnswerDetails != null)
                {
                @Html.Label("", "Answers", new { style = "font-weight:bold;font-family:Calibri;font-size:24px;color:#009933" })
                }
            </td>
        </tr>
        
        <tr>
            <td>
              @Html.Raw(ViewBag.AnswerDetails)
            </td>
        </tr>

    </table>
    <br />
    <br />
    @using (Html.BeginForm("Ans", "Que", new { Id = Model.QuestionID, Title = Model.QuestionTitle }))
    {
                <table style="width: 100%; font-size: 16px" cellpadding="0" cellspacing="0">
                    
                    <tr>
                        <td colspan="2" align="center">
                            <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.lblAck</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h1>Post answer</h1>
                            <a href="/Home/Rewards" style="text-decoration: none;">
                                <span style="color:#ff5b33;font-size:16px;font-weight:bold;font-family:Calibri;text-decoration:underline">
                                    Get Rewards for code blogging. @*<span style="text-decoration:underline">Check Now</span>*@
                                </span>
                            </a>                            <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                              Use "{;}" to enter code. 10K chars max.<br />
                            @*<pre class="prettyprint" style="width:28%;text-align:left;white-space: pre-line;">
                                #codestart
                                your code
                                #codeend
                            </pre>*@
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="left">
                            @Html.TextArea("SolutionEditor")
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input type="submit" value="Post Answer" name="Submit" id="btnSubmit" onclick="return ValidateAnswer()"
                                   class="mysubmit"  />
                        </td>
                    </tr>
                    <tr>
                        <td  colspan="2" align="left" style="font-size:24px;border-bottom-width:1px;border-bottom-color:black;border-bottom-style:dashed">
                            Preview
                        </td>
                    </tr> 
                    <tr>                       
                        <td colspan="2">
                            <div id="divPreview"></div><br/><br /><br /><br /><br /><br /><br /><br />@*<br /><br /><br /><br /><br /><br />*@
                        </td>
                    </tr>     
                </table>

                @*<script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_enable_interest_ads = "true";
                    amzn_assoc_tracking_id = "codeanalyze-20";
                    amzn_assoc_ad_mode = "auto";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_linkid = "af698f70d6e43836cc75908ead464f55";
                    amzn_assoc_emphasize_categories = "172282";
                    amzn_assoc_fallback_mode = {"type":"search","value":"smartphone"};
                    amzn_assoc_default_category = "Electronics";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>*@


        @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
        @Html.Hidden("hiddenQuesId", Model.QuestionID)
        @Html.Hidden("hiddenQuesTitle", Model.QuestionTitle)
        
    }

