@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CodeAnalyzeMVC2015.Models.QuestionType

<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="~/js/TinyMCE.1.1.js"></script>


<h2>Post Question</h2>
<a href="/Home/Rewards" style="text-decoration: none;">
    <span style="color:#ff5b33;font-size:16px;font-weight:bold;font-family:Calibri;text-decoration:underline">
        Join to discuss code and also get rewards as appreciation @*<span style="text-decoration:underline">Check Now</span>*@
    </span>
</a><br /><br />

@using (Html.BeginForm("InsertQuestion", "Que", FormMethod.Post))
{
<table style="width:100%; font-size:16px" cellpadding="0"
       cellspacing="0">
    <tr>
        <td>
            <table align="left" style="width: 100%" cellpadding="6" cellspacing="6">
                <tr>
                    <td align="center" style="color:green;font-weight:bold">
                        @Html.Raw(ViewBag.Ack)                                              
                    </td>
                </tr>  
                <tr>
                    <td>
                        @Html.TextBox("txtTitle", "", new {style="width:98%;height:35px;border:groove;border-width:1px;border-radius:5px;font-size:20px", placeholder = "Title" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("ddType", new SelectList(Model.Types, "TypeId", "Type"), "---Select Type---", new { style="height:30px;border-width:1px;border-radius:5px;font-size:16px;width:150px;" })
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        Use "{;}" to enter code. 10K chars max.<br />
                            @*<pre class="prettyprint" style="width:28%;text-align:left;white-space: pre-line;">
                            #codestart
                            your code
                            #codeend
                        </pre>*@
                        @Html.TextArea("EditorAskQuestion")
                    </td>
                </tr>
                <tr>
                    <td align="center"><br/>
                        <input type="submit" value="Post Question" id="btnSubmit" onclick="return ValidateQues()"
                                class="mysubmit" />
                    </td>
                </tr> 
                <tr>
                    <td align="left" style="font-size:24px;border-bottom-width:1px;border-bottom-color:black;border-bottom-style:dashed">
                        Preview
                    </td>
                </tr> 
                <tr>
                    <td>
                        <div id="divPreview"></div>
                    </td>
                </tr>               
            </table>
        </td>
    </tr>
</table>
@Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
}

