
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CodeAnalyzeMVC2015.Users


<script language="javascript" type="text/javascript">
         function ValidatePasswords() {
             var varHFOldPassword = document.getElementById('HFOldPassword').value;
             var varOldPassword = document.getElementById('txtPassword').value;
             var varNewPassword = document.getElementById('txtNewPassword').value;
             var varConfirmPassword = document.getElementById('txtConfirmPassword').value;
             var VarEMail = document.getElementById('hfUserEMail').value;

             if (VarEMail != "") {
                 if (varHFOldPassword != varOldPassword) {
                     alert("Please enter correct Old Password");
                     return false;
                 }
                 else if (txtNewPassword != txtConfirmPassword) {
                     alert("Password and ConfirmPassword does not match");
                     return false;
                 }
                 else if (txtNewPassword.length < 8) {
                     alert("Password is expected to be 8 charectors.");
                     return false;
                 }
                 else
                     return true;
             }
             else {
                 alert("Please login to post");
                 return false;
             }
         }
</script>


<div>
    @using (Html.BeginForm("ChangePassword", "Home"))
    {
        <table style="height: 250px; width: 80%;">
            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>Current Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>
            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>New Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtNewPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>

            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>Confirm New Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtConfirmPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Submit" onclick="return ValidatePasswords()" style="border: none; background-color: #4fa4d5; color: white; font-size: 16px;" />
                    @Html.ActionLink("Cencel", "ViewUser", null, new { style = "border:none;background-color:#4fa4d5;color:white;font-size:18px;text-decoration:none;width:40%" })
                </td>
            </tr>
        </table>
    }
</div>
@Html.Hidden("HFOldPassword", (Object)ViewBag.OldPassword)
@Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)

