
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}




<h2>Change Password</h2><br />


<div>
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        <table style="height: 250px; width: 60%;border:solid;border-radius:20px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED" cellpadding=5; cellspacing=5>
            <tr>
                <td style="font-weight: bold; color: red;padding-left:30%">
                    @ViewBag.Ack<br />
                </td>
            </tr>
             <tr>
                <td align="left" style="padding-left:20%">
                    @Html.Password("txtPassword", "", new { style = "width:75%;", placeholder = "Password", @class = "myText" })


                </td>
            </tr>
            <tr>
                <td align="left" style="padding-left:20%">
                    @Html.Password("txtNewPassword", "", new { style = "width:75%;", placeholder = "New Password", @class = "myText" })


                </td>
            </tr>

            <tr>
                <td align="left" style="padding-left:20%">
                    @Html.Password("txtConfirmPassword", "", new { style = "width:75%;", placeholder = "Confirm Password", @class = "myText" })


                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Submit" onclick="return ValidatePasswords()" class="mysubmitsmall" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Cancel" name="Cancel" class="mysubmitsmall" />
                </td>
            </tr>
        </table>
    }
</div>
@Html.Hidden("HFOldPassword", (Object)ViewBag.OldPassword)
@Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)

