
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}




<h2>Change Password</h2><br />


<div>
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        <table style="height:200px; width: 60%;" align="center">
            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>Current Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>
            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>New Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtNewPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>

            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>Confirm New Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtConfirmPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Submit" onclick="return ValidatePasswords()" class="mysubmit" />
                    <input type="submit" value="Cancel" name="Cancel" class="mysubmit" />
                </td>
            </tr>
        </table>
    }
</div>
@Html.Hidden("HFOldPassword", (Object)ViewBag.OldPassword)
@Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)

