
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CodeAnalyzeMVC2015.Users


<h2>Change Password</h2><br />


<div>
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        <table style="height: 250px; width: 80%;">
            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>Current Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>
            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>New Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtNewPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>

            <tr>
                <td align="left" style="font-family: Calibri;">
                    <strong>Confirm New Password</strong>:
                </td>
                <td align="left" style="padding-left:10px">
                    @Html.Password("txtConfirmPassword", new { style = "border:groove;width:55%;border-width:1px" })
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Submit" onclick="return ValidatePasswords()" style="border: none; background-color: #4fa4d5; color: white; font-size: 16px;" />
                    @Html.ActionLink("Cancel", "ViewUser", null, new { style = "border:none;background-color:#4fa4d5;color:white;font-size:18px;text-decoration:none;width:40%" })
                </td>
            </tr>
        </table>
    }
</div>
@Html.Hidden("HFOldPassword", (Object)ViewBag.OldPassword)
@Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)

