
@{
    ViewBag.Title = "MyQues";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}

<script src="~/js/jquery-1.9.1.min.js"></script>

<script>
        $(document).ready(function () {
            $(".pager").click(function (evt) {
                var pageindex = $(evt.target).data("pageindex");
                $("#CurrentPageIndex").val(pageindex);
                evt.preventDefault();
                $("form").submit();
            });
        });

</script>
<h2>My Questions</h2><br />

@{
    CodeAnalyzeMVC2015.Models.PagingInfo info = ViewBag.PagingInfo;
}


@using (Html.BeginForm("MyQues", "Account", FormMethod.Post))
{
    @Html.Hidden("SortField", info.SortField)
    @Html.Hidden("SortDirection", info.SortDirection)
    @Html.Hidden("PageCount", info.PageCount)
    @Html.Hidden("PageSize", info.PageSize)
    @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)
    <div>

        <table>
            <tr>
                @for (var i = 0; i < info.PageCount; i++)
                {
                    if (i == info.CurrentPageIndex)
                    {
                        <td><span>@(i + 1)</span>&nbsp;</td>
                    }
                    else
                    {
                        <td>
                            <a href="#" data-pageindex="@i" class="pager" style="font-weight:bold">@(i + 1)</a>&nbsp; &nbsp; 
                        </td>
                    }
                }
            </tr>
        </table>
        <br />
        <table style="width: 100%; font-size: 16px; word-wrap: normal; word-break: break-all;">
            @foreach (CodeAnalyzeMVC2015.Models.QuestionModel questionModel in Model)
            {
                <tr>
                    <td>
                        <img id="imgArrow" src="~/Images/questions.png" style="width:20px;height:20px;" />
                    </td>
                    <td>
                        @Html.ActionLink(questionModel.QuestionTitle, "Ans", "Que", new { ID = questionModel.QuestionID, Title = questionModel.QuestionTitle.ToString().Replace(" ", "-") }, null)
                    </td>
                </tr>
            }
        </table>
        <br />
        <table>
            <tr>
                @for (var i = 0; i < info.PageCount; i++)
                {
                    if (i == info.CurrentPageIndex)
                    {
                        <td><span>@(i + 1)</span>&nbsp;</td>
                    }
                    else
                    {
                        <td>
                            <a href="#" data-pageindex="@i" class="pager" style="font-weight:bold">@(i + 1)</a>&nbsp; &nbsp; 
                        </td>
                    }
                }
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td align="center">
                    <input type="submit" value="Done" name="Cancel" class="mysubmit" />
                </td>
            </tr>
        </table>
    </div>
}




