
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}

@model CodeAnalyzeMVC2015.Users
@using CodeAnalyzeMVC2015.AppCode

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="~/js/Facebook.js"></script>
<script src="~/js/Google.js"></script>

<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

 @if (Model.Email == null || ViewBag.Ack != null)
 {
<h2>Register</h2><br />
 }
 else
 {
    <h2>Edit Profile</h2><br />    <br />
 }



    @if (Model.Email == null || ViewBag.Ack != null)
    {
    <table width="80%">
        <tr>
            <td align="center">
                <input type="image" onclick="FaceBookLogin()" value="FaceBook" style="height:35px;width:200px" src="~/Images/SignInWithFacebook.png" />

            </td>
            <td align="center">
                <div id="my-signin2"></div>
            </td>
            <td align="center"></td>
        </tr>
    </table>


    }

    @using (Html.BeginForm("CreateEditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
                <table style="font-size:16px" width="100%">
                    <tr>
                        <td align="center" style="font-weight: bold; color: red; font-size: 16px">
                            @ViewBag.Ack
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-top: 5px;">
                            <table style="height: 250px; width: 80%;">
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family: Calibri;">
                                        First Name:
                                    </td>
                                    <td align="left" style="padding-left:10px">
                                        @Html.TextBoxFor(m => m.FirstName, new { style = "border:groove;width:55%;border-width:1px" })
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family:Calibri;">
                                        Last Name
                                    </td>
                                    <td align="left" style="padding-left:10px">
                                        @Html.TextBoxFor(m => m.LastName, new { style = "border:groove;width:55%;border-width:1px" })
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family:Calibri;">
                                        E-Mail:
                                    </td>
                                    <td align="left" style="padding-left:10px">
                                        @Html.TextBoxFor(m => m.Email, new { style = "border:groove;width:75%;border-width:1px" })
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family:Calibri;">
                                       Address:
                                    </td>
                                    <td align="left" style="padding-left: 10px">
                                        @Html.TextBoxFor(m => m.Address, new { style = "border:groove;width:75%;border-width:1px" })
                                    </td>
                                </tr>
                               @if (Model.Email == null || ViewBag.Ack != null)
                                {
                                <tr>
                                    <td align="left" style="font-family:Calibri;">
                                        Password:
                                    </td>
                                    <td align="left" style="padding-left:10px">
                                        <input type="password" id="txtPassword" style="border:groove;width:55%;border-width:1px"/>
                                        @*@Html.Password("txtPassword", new { style = "border:groove;width:55%;border-width:1px" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left" style="font-family: Calibri;">
                                        Confirm Password:
                                    </td>
                                    <td align="left" style="padding-left:10px">
                                        <input type="password" id="txtConfirmPassword" style="border:groove;width:55%;border-width:1px" />
                                        @*@Html.Password("txtConfirmPassword", new { style = "border:groove;width:55%;border-width:1px" })*@
                                    </td>
                                </tr>
                                }

                                <tr>
                                    <td align="left" style="font-family:Calibri;">
                                       Upload Photo:
                                    </td>
                                    <td align="left" style="padding-left:10px">
                                        <input type="file" style="width: 50%" id="fileUserPhoto" name="fileUserPhoto" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="font-family: Calibri;">
                                        Brief details on your experience, work and expertiece
                                        <br />
                                        @Html.TextAreaFor(m => m.Details, new { style = "border:groove;width:75%;border-width:1px;height:80px;width:90%" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <img id="imgcaptcha" alternatetext="Captcha" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        @if (Model.Email == null || ViewBag.Ack != null)
                                        {
                                            @Html.GenerateCaptcha(Theme.White)
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2">
                                        <input type="submit" id="btnRegister" value="Submit" onclick="return ValidateUserReg()" style="border:none;background-color:#4fa4d5;color:white;font-size:16px" />
                                        <input type="submit" id="btnCancel" name="Cancel" value="Cancel" style="border:none;background-color:#4fa4d5;color:white;font-size:16px" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>

                @*@Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)*@
}
