@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}
@model CodeAnalyzeMVC2015.Users

<h2>User Profile</h2>
<br />

<div>
    @using (Html.BeginForm("ViewUser", "Account", FormMethod.Post))
    {
        <div style="padding-left: 5%">
            <table style="height: 100%; width: 90%; font-size: 16px; border: solid; border-radius: 20px; border-width: 0px; border-color: lightgrey; background-color: #EFF0ED"
                cellpadding="4" cellspacing="4">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="8" valign="middle" style="width: 35%; padding-left: 5%">
                        <img id="imgProfile" src="@Model.ImageURL" style="height:180px; width:180px" />
                    </td>
                    <td align="left" valign="top" style="width: 25%; font-family: Calibri; padding-left: 5%">
                        <b>First Name:</b>
                    </td>
                    <td align="left" valign="top">
                        @Model.FirstName
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="width: 25%; font-family: Calibri; padding-left: 5%">
                        <b>Last Name:</b>
                    </td>
                    <td align="left" valign="top">
                        @Model.LastName
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="width: 25%; font-family: Calibri; padding-left: 5%">
                        <b>Articles Posted:</b>
                    </td>
                    <td align="left" valign="top">
                        @Model.ArticlesPosted
                        @*@Html.ActionLink(Model.ArticlesPosted, "UserArticles", "Account", new { UserId = Model.UserId }, new { id = "UserArticles" })*@
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="width: 25%; font-family: Calibri; padding-left: 5%">
                        <b>Questions Posted:</b>
                    </td>
                    <td align="left" valign="top">
                        @Model.QuestionsPosted
                        @*@Html.ActionLink(Model.QuestionsPosted, "UserQuestions", "Account", new { UserId = Model.UserId }, new { id = "UserQuestions" })*@
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="width: 25%; font-family: Calibri; padding-left: 5%">
                        <b>Replies Posted:</b>
                    </td>
                    <td align="left" valign="top">
                        @Model.AnswersPosted
                        @*@Html.ActionLink(Model.AnswersPosted, "UserAnswers", "Account", new { UserId = Model.UserId }, new { id = "UserAnswers" })*@
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="width: 25%; font-family: Calibri; padding-left: 5%">
                        <b>Details:</b>
                    </td>
                    <td align="left" valign="top">
                        @Model.Details
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="text" id="btnBack" value="Back" class="mysubmit" />
                    </td>
                </tr>
            </table>
        </div>
        
    }
</div>
