@{
    ViewBag.Title = Model.ArticleTitle.Replace("<b>", "").Replace("</b>", "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CodeAnalyzeMVC2015.Models.VwArticlesModel

<title>@Model.ArticleTitle.Replace("<b>", "").Replace("</b>", "")</title>

<meta name="description" content="@ViewBag.keywords" />

<script type="text/javascript" src="~/js/JavaScript1.js"></script>

<style>
    .element, .outer-container {
        width: 100%;
        height: 1000px;
    }

    .outer-container {
        position: relative;
        overflow: hidden;
    }

    .inner-container {
        position: absolute;
        overflow-y: scroll;
        width: 100%;
    }

        .inner-container::-webkit-scrollbar {
            display: none;
        }
</style>




    <table style="width: 100%; font-family: Calibri">
        <tr>
            <td width="100%">
                <span style="width: 90%; font-weight: bold; font-family: Calibri; color: Black; font-size: 24px">@ViewBag.keywords.Replace("<b>", "").Replace("</b>", "")</span>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left">

                <table style="font-size: 14px">
                    <tr>
                        <td align="right" style="width: 60px">
                            <img id="ImageButton1" src="~/Images/eye.png" style="height: 30px; width: 30px" />
                        </td>
                        <td align="left" style="width: 60px">
                            @Model.ArticleViews
                        </td>
                        <td align="right" style="width: 60px">
                            <input type="image" name="btnUp" onclick="PostArticleVotes('btnUp')" id="btnUp" src="~/Images/ThumpsUp.png" style="height: 25px; width: 25px" />
                        </td>
                        <td align="left" style="width: 60px">
                            @Model.ThumbsUp
                        </td>
                        <td align="right" style="width: 60px">
                            <input type="image" name="btnDown" onclick="PostArticleVotes('btnDown')" id="btnDown" src="~/Images/ThumpsDown.png" style="height: 25px; width: 25px" />
                        </td>
                        <td align="left" style="width: 60px">
                            @Model.ThumbsDown
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td align="left">

                @*<asp:LinkButton Font-Bold="true" ID="lnkBtnSourceCode" OnClick="lnkBtnSourceCode_Click" runat="server" Font-Underline="true"
                    ForeColor="Blue"  Text="Download Source Code" Font-Size="Medium"/>*@

            </td>
        </tr>
    </table>

@using (Html.BeginForm("Details", "Articles"))
{
    <div class="outer-container">
        <div class="inner-container">
            <div id="divContent" class="element">
                @Html.Raw(Model.ArticleDetails)
            </div>
        </div>
    </div>

    <table style="width: 100%; font-family: Calibri">
        <tr>
            <td>
                <br />
                @if (Model.HasVideo)
                {
                    <section id="sidebar-video-post">
                        <div class="ccr-gallery-ttile">
                            <span></span>
                            <p><strong>Video Post</strong></p>
                        </div>
                        <div class="sidebar-video">
                            <iframe width="340" height="195" id="iframeVideo" src="@Model.ImageURL" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </section>
                }
            </td>
        </tr>


        <tr>
            <td width="100%">
                <br />
                <table style="width: 100%; font-size: 16px">
                    <tr>
                        <td style="width: 25%" align="center">
                            @if (!string.IsNullOrEmpty(Model.ImageURL))
                            {
                                <img id="imgAskedUser" src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(Model.ImageURL))" style="height:130px;width:150px" />
                            }
                        </td>
                        <td align="left" valign="top" style="width: 75%">
                            <table style="width: 100%;">
                                <tr>
                                    <td align="left" valign="top" style="width: 250px;">
                                       @Html.Raw(Model.AskedUser)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        @Model.AskedUserDetails
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    <br />
    <table id="tblReplies" style="width: 100%">
        <tr>
            <td>
                @*<span style="width: 100%; font-weight: bold; font-family: Calibri; color: green; font-size: 20px">Comments</span>*@
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw(Model.ArticleReplies)
            </td>
        </tr>
    </table>
    <br />

    <table style="width: 100%">
        <tr>
            <td align="center">
                <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.lblAck</span><br />
            </td>
        </tr>
        <tr>
            <td>
                <h1>Post comments</h1>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.TextArea("txtReply", "", new { style= "width:100%;height:120px;border:groove;border-width:1px" })
                <br />

            </td>
        </tr>
        <tr>
            <td align="center"><br />
                <input type="submit" value="Submit" id="btnSubmit" onclick="return ValidateComment()"
                       class="mysubmit" />
            </td>
        </tr>
    </table>


    {
        System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9 -]");
        Model.ArticleTitle = rgx.Replace(Model.ArticleTitle, "").Replace("<b>", "").Replace("</b>", "").Replace(" ", "-");
    }

    @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
    @Html.Hidden("hfSourceFile")
    @Html.Hidden("hfArticleId", Model.ArticleID)
    @Html.Hidden("hfArticleTitle", Model.ArticleTitle)
    
}