@{
    ViewBag.Title = Model.ArticleTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CodeAnalyzeMVC2015.Models.VwArticlesModel

<title>@Model.ArticleTitle</title>

<meta name="description" content="@ViewBag.keywords" />


@*<script type="text/javascript">
    $(function () {
        debugger;
            $("#btnGet").click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Model.DemoURL",
                    //data: '{name: "' + $("#txtName").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    success: function (response) {
                        //alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    },
                    failure: function (response) {
                        //alert(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                    }
                });
            });
        });
</script>*@

<script type="text/javascript" src="~/js/JavaScript1.js"></script>

<table style="width: 100%; font-family: Calibri">
    <tr>
        <td width="100%">
            <span style="width: 90%; font-weight: bold; font-family: Calibri; color: #333; font-size: 24px">@ViewBag.keywords</span>
        </td>
    </tr>
    <tr>
        <td width="100%" align="left">

            <table style="font-size: 14px">
                <tr>
                    <td align="right" style="width: 60px">
                        <img id="ImageButton1" title="Views" src="~/Images/eye.png" style="height: 30px; width: 30px" />
                    </td>
                    <td align="left" style="width: 60px">
                        @Model.ArticleViews
                    </td>
                    <td align="right" style="width: 60px">
                        <input type="image" title="Yes, this helped me" name="btnUp" onclick="PostArticleVotes('btnUp')" id="btnUp" src="~/Images/ThumpsUp.png" style="height: 25px; width: 25px" />
                    </td>
                    <td align="left" style="width: 60px">
                        @Model.ThumbsUp
                    </td>
                    <td align="right" style="width: 60px">
                        <input type="image" title="No, this did not help me" name="btnDown" onclick="PostArticleVotes('btnDown')" id="btnDown" src="~/Images/ThumpsDown.png" style="height: 25px; width: 25px" />
                    </td>
                    <td align="left" style="width: 60px">
                        @Model.ThumbsDown
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td align="left">

            @*<asp:LinkButton Font-Bold="true" ID="lnkBtnSourceCode" OnClick="lnkBtnSourceCode_Click" runat="server" Font-Underline="true"
                ForeColor="Blue"  Text="Download Source Code" Font-Size="Medium"/>*@

        </td>
    </tr>
</table>

@using (Html.BeginForm("Details", "Articles"))
{
    @Html.Raw(Model.ArticleDetails)
    <br/><br/>
    {
        System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9 -]");
        Model.ArticleTitle = rgx.Replace(Model.ArticleTitle, "").Replace(" ", "-");
    }

    if (Model.HasDemo == 1)
    {
        //string strURL = "/CodeDemos/Articles/" + Model.ArticleID + "/" + Model.ArticleTitle;
        <div style="text-align:center;width:100%">
            <a href='@Model.DemoURL' style="font-weight:bold;font-size:24px;width:100px;height:40px" class="mysubmit">View Demo of Code</a>
            @*<input type="button" id="btnGet" value="View Demo of Code" style="font-weight:bold;font-size:26px;height:40px" class="mysubmit"/>*@
        </div>                    
        <br/><br/>           
    }

    <table style="width: 100%; font-family: Calibri">
        @*<tr>
                <td>
                    <br />
                    @if (Model.HasVideo)
                    {
                        <section id="sidebar-video-post">
                            <div class="ccr-gallery-ttile">
                                <span></span>
                                <p><strong>Video Post</strong></p>
                            </div>
                            <div class="sidebar-video">
                                <iframe width="340" height="195" id="iframeVideo" src="@Model.ImageURL" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </section>
                    }
                </td>
            </tr>*@
        <br />

        <tr>
            <td width="100%">
                @if (Html.Raw(Model.AskedUser).ToString() != null && Html.Raw(Model.AskedUser.ToString()).ToString() != "1")
                {

                    <table style="width: 100%; font-size: 16px">
                        <tr>
                            <td align="left" style="width:81px">
                                @if (!string.IsNullOrEmpty(Model.ImageURL))
                                {
                                    if (!Model.ImageURL.ToString().Contains("gravatar.com"))
                                    {
                                        <img id="imgAskedUser" title="User Avatar" src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(Model.ImageURL))" style="height:80px;width:80px" />
                                                <br /><span style="font-size:12px;padding-left:8px">User Avatar</span>
                                    }
                                    else
                                    {
                                        <img id="imgAskedUser" title="User Avatar" src="@Model.ImageURL.Replace("amp;","")" style="height:80px;width:80px" />
                                       
                                    }
                                }
                            </td>
                            <td align="left" valign="top">
                                <table style="width: 100%;">
                                    <tr>
                                        <td align="left" valign="top">
                                            @Html.Raw(Model.AskedUser)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>@Html.Raw(Model.Stars)</b><a href="/Home/Rewards"> <img src="~/Images/MedalFilled2.png" id="Medal2" title="Rewards" style="height:25px;width:20px;"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                            @Model.AskedUserDetails
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
    <table id="tblReplies" style="width: 100%">
        <tr>
            <td>
                @*<span style="width: 100%; font-weight: bold; font-family: Calibri; color: green; font-size: 20px">Comments</span>*@
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw(Model.ArticleReplies)
            </td>
        </tr>
    </table>
    <br />

     <table style="width: 100%">
        <tr>
            <td>
                <h1>Post comments</h1>
                <a href="/Home/Rewards" style="text-decoration: none;">
                    <span style="color:#ff5b33;font-size:16px;font-weight:bold;font-family:Calibri;text-decoration:underline">
                        Get Rewards for code blogging.@*<span style="text-decoration:underline">Check Now</span>*@
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
      <tr>
           <td>
                  <div id="disqus_thread"></div>
                    <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = 'http://codeanalyze.com/Articles/Details/';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = 'id'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://codeanalyze-com.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
           </td>
      </tr>
    </table>

    @*<script type="text/javascript">
                        amzn_assoc_placement = "adunit0";
                        amzn_assoc_enable_interest_ads = "true";
                        amzn_assoc_tracking_id = "codeanalyze-20";
                        amzn_assoc_ad_mode = "auto";
                        amzn_assoc_ad_type = "smart";
                        amzn_assoc_marketplace = "amazon";
                        amzn_assoc_region = "US";
                        amzn_assoc_linkid = "af698f70d6e43836cc75908ead464f55";
                        amzn_assoc_emphasize_categories = "172282";
                        amzn_assoc_fallback_mode = {"type":"search","value":"smartphone"};
                        amzn_assoc_default_category = "Electronics";
        </script>
                    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>*@




    @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
    @Html.Hidden("hfSourceFile")
    @Html.Hidden("hfArticleId", Model.ArticleID)
    @Html.Hidden("hfArticleTitle", Model.ArticleTitle)

}
