@{
    ViewBag.Title = "Code Analyze - Coder Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-1.9.1.min.js"></script>

<script>
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            evt.preventDefault();
            $("form").submit();
        });
    });

</script>

@{
    CodeAnalyzeMVC2015.Models.PagingInfo info = ViewBag.PagingInfo;
}


<h2>Articles</h2>


@*<table style="width: 100%;word-wrap: normal; word-break: break-word;">
    <tr>
        <td>
            @using (Html.BeginForm("Search", "Articles"))
            {
                <table style="width: 100%">
                    <tr>

                        <td style="font-family: Calibri; font-weight: bold;" align="right">
                            @Html.TextBox("txtArticleTitle", "", new {style = "border:groove;width:80%;border-width:1px" })
                        </td>

                        <td align="left" width="28%" style="font-family: Calibri; font-weight: bold;">
                            <input type="submit" value="Search" id="btnSubmit" style="border: none; color: white; background-color: #F5E8AA" />
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    </table>*@

<table style="width:100%;float:right;font-size:16px">
    <tr>
            <td style="float:left;"> 
                @if(info.CurrentPageIndex > 0)
                {
                     <span class="read-more"><a href="#" class="pager" data-pageindex="@(info.CurrentPageIndex - 1)" style="font-weight:bold"><< Newer Articles</a></span>   
                }
            </td>


            <td style="float:right;">
                @if (info.CurrentPageIndex < info.PageCount)
                {
                    <span class="read-more"><a href="#" class="pager" data-pageindex="@(info.CurrentPageIndex + 1)" style="font-weight:bold">Older Articles >></a></span>
                }

            </td>
    </tr>
</table>    

<table>
    <tr>
        <td>

            @using (Html.BeginForm("Index", "Articles", FormMethod.Post))
            {

                @Html.Hidden("SortField", info.SortField)
                @Html.Hidden("SortDirection", info.SortDirection)
                @Html.Hidden("PageCount", info.PageCount)
                @Html.Hidden("PageSize", info.PageSize)
                @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)
                foreach (CodeAnalyzeMVC2015.Models.ArticleModel articleModel in Model)
                {
                    string title = articleModel.ArticleTitle;
                    System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9 -]");
                    articleModel.ArticleTitle = rgx.Replace(articleModel.ArticleTitle, "");

                    <section id="ccr-blog">
                        <article>
                            <img id="imgArrow" src="~/Images/WriteArticle.png" style="height:8%;width:8%" />
                            <div class="blog-text">
                                <h1>
                                    @Html.ActionLink(title, "Details", "Articles", new { Id = articleModel.ArticleID, Title = articleModel.ArticleTitle.Replace(" ", "-").Replace(".", "-") }, new { style = "font-weight:bold;color:Black" })
                                    @*<span style="font-weight:bold">@articleModel.ArticleTitle</span>*@
                                </h1>
                                <p style="font-size:16px">
                                    @articleModel.ArticleDetails
                                </p>
                                <div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i> @articleModel.ThumbsUp
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i> @articleModel.ThumbsDown
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <img id="ImageButton1" style="height:4%;width:4%" src="~/Images/eye.png" />@articleModel.Views
                                    <span class="read-more" style="padding-right:2%">
                                        @Html.ActionLink("Read More", "Details", "Articles", new { Id = articleModel.ArticleID, Title = articleModel.ArticleTitle.Replace(" ", "-").Replace(".", "-") }, null)
                                    </span>
                                </div>
                            </div>
                        </article>
                    </section>
                }
            }
        </td>
    </tr>
</table>
<table style="width:100%;float:right;font-size:16px">
    <tr>
            <td style="float:left;"> 
                @if(info.CurrentPageIndex > 0)
                {
                     <span class="read-more"><a href="#" class="pager" data-pageindex="@(info.CurrentPageIndex - 1)" style="font-weight:bold"><< Newer Articles</a></span>   
                }
            </td>


            <td style="float:right;">
                @if (info.CurrentPageIndex < info.PageCount)
                {
                    <span class="read-more"><a href="#" class="pager" data-pageindex="@(info.CurrentPageIndex + 1)" style="font-weight:bold">Older Articles >></a></span>
                }

            </td>
    </tr>
</table> 
