<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>@ViewBag.Title</title>



    <link id="Link1" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link id="Link2" rel="icon" href="~/favicon.ico" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer type="text/javascript"></script>

    <script type="text/javascript" src="~/js/sCode.js"></script>
    <script type="text/javascript" src="~/js/sCodeJScript.js"></script>
    <script type="text/javascript" src="~/js/sCodeCSharp.js"></script>
    <script type="text/javascript" src="~/js/sCodeSwift.js"></script>
    <script type="text/javascript" src="~/js/sCodeSQL.js"></script>
    <script type="text/javascript" src="~/js/sCodePowerShell.js"></script>
    <script type="text/javascript" src="~/js/sCodeJava.js"></script>
    <script type="text/javascript" src="~/js/sCodeVB.js"></script>
    <script type="text/javascript" src="~/js/sCodeCSS.js"></script>
    <script type="text/javascript" src="~/js/sCodeCPP.js"></script>
    <script type="text/javascript" src="~/js/JavaScript1.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/sCodeCSS.css" />
    <link type="text/css" rel="stylesheet" href="~/css/CodeDecorate.css" />

    <script src="~/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/custom.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <link href="~/css/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/prettify.js"></script>
    <script src="~/js/JavaScript1.js"></script>
    <link href="~/css/mystyles.css" rel="stylesheet" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58993626-1', 'auto');
        ga('send', 'pageview');

    </script>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Language" content="en-us" />
    <meta name="Robots" content="All" />
    <meta name="description" content="@ViewBag.keywords" />   
    <meta name="google-signin-client_id" content="882773719808-68o6a3dviihrqvnld51tne9978udc3ig.apps.googleusercontent.com">


    <style type="text/css">
        .fb-like {
            transform: scale(1.2);
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            -moz-transform: scale(1.2);
        }
    </style>

    <script>
           (function (d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) return;
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=848792638492356&version=v2.0";
               fjs.parentNode.insertBefore(js, fjs);
           } (document, 'script', 'facebook-jssdk'));
    </script>
 
    @*<script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "codeanalyze-20";
    amzn_assoc_linkid = "1ff227899b9eb70edcf11c771cf337ae";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    </script>
    <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>*@

</head>
<body>


    <header id="ccr-header">
        <section id="ccr-nav-top" class="fullwidth">
            <div class="fullwidth">
                <div class="container">
                    <nav class="top-menu">

                        <ul class="left-top-menu">
                            <li>@Html.ActionLink("Home", "Index", "Articles", null, new { style="color:white;" })</li>
                            @*<li></li>*@
                            <li>
                                @Html.ActionLink("Contact Us", "Contact", "Home", null, new { style="color:white;" })
                            </li>
                        </ul>

                        <ul class="right-top-menu pull-right">
                         
                                @if (string.IsNullOrEmpty(ViewBag.UserEmail))
                                {
                                    <li>
                                        @*@Html.ActionLink("Register", "Register", "Master", new { @style = "color:white;" })*@
                                        @*<a href="~/UserProfile.aspx" style="color:white">Register</a>*@ 
                                        @Html.ActionLink("Register", "Users", "Account", null, new { @style = "color:white;" })
                                    </li>   
                                    <li>
                                        @Html.ActionLink("Sign In", "Login", "Account", null, new { @style = "color:white;" })
                                        @*<a href="~/Login.aspx" style="color:white">Login</a>*@ 
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        @Html.ActionLink("My Profile", "ViewUser", "Account", null, new { @style = "color:white;" })
                                    </li>
                                    <li>                                    
                                        @Html.ActionLink("Log Out", "LogOut", "Master", null, new { @style = "color:white;" })                                    
                                    </li>
                                }
                            <li>

                                @using (Html.BeginForm("ReferFriend", "Master"))
                                {
                                    <input type="submit" value="Refer Friend EMail" id="btnSubmit" onclick="return ValidateRefer()"  style="border: none; width: 130px; height: 22px; background-color: #F5E8AA;" />
                                    @Html.TextBox("txtReferEMail", "", new { @style = "border:groove;width:150px;height:24px;" })
                                }

                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </section>

        <section id="ccr-site-title">
            <div class="container">
                <div class="site-logo">
                    <a href="http://codeanalyze.com" class="navbar-brand">
                        <img src="~/Images/cblogo.PNG" />
                        <h1><span>Code Analyze</span></h1>
                        <h3>Blogger Rewards</h3>
                    </a>
                </div>

                <ul class="right-top-menu pull-right">
                    <br />
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=26&l=ur1&category=mostwishforitem&banner=1M2GXANPMRX5Z7KV4202&f=ifr&linkID=5a976d26ab2f0f41d2bc3dfd808a2326&t=codeanalyze-20&tracking_id=codeanalyze-20" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

                </ul>
            </div>
        </section>


        @*<section id="ccr-site-title1">
            <div class="container" style="font-size:16px">

            </div>
        </section>*@

        <section id="ccr-nav-main">
            <nav class="main-menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse ccr-nav-main">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
                            <li>@Html.ActionLink("Post Articles", "Post", "Articles")</li>
                            <li>@Html.ActionLink("Post Question", "Post", "Que")</li>
                            <li>@Html.ActionLink("UnAnswered", "UnAns", "Que")</li>
                            <li class="dropdown">
                                <a href="#">Tutorials<i class="fa fa-caret-down"></i></a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Basics", "Basics", "Tutorials")</li>
                                    <li>@Html.ActionLink("AngularJS", "AngularJS", "Tutorials")</li>
                                    <li>@Html.ActionLink("XCode", "XCode", "Tutorials")</li>
                                    <li>@Html.ActionLink("Android", "Android", "Tutorials")</li>
                                    <li>@Html.ActionLink("Hadoop", "Hadoop", "Tutorials")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Interview QA<i class="fa fa-caret-down"></i></a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("XCode", "XCodeInt", "Tutorials")</li>
                                    <li>@Html.ActionLink("Android", "AndroidInt", "Tutorials")</li>
                                    @*<li>@Html.ActionLink("Hadoop", "HadoopInt", "Tutorials")</li>*@
                                </ul>
                            </li>
                            @* <li><a href="~/Chat.aspx">Chat</a> </li>*@
                            <li> @Html.ActionLink("About Us", "About", "Home")</li>
                            <li> @Html.ActionLink("Rewards", "Rewards", "Home")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </header>



    <section id="ccr-main-section">
        <div class="container">
            <section id="ccr-left-section" class="col-md-8">
                <div class="current-page">
                   @if (!string.IsNullOrEmpty(ViewBag.UserEmail))
                   {
                        <table style="width: 100%;">
                            <tr>
                                <td style="font-family: Calibri; margin-left: 0">
                                    <span style="color: red; font-weight: bold; width: 20%">@ViewBag.lblFirstName</span>
                                </td>
                                <td style="margin-left: 0">
                                    <span style="font-family: Calibri; width: 10%"></span>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <div>
                    @RenderBody()
                </div>
            </section>


            <aside id="ccr-right-section" class="col-md-4">

                @*<section id="social-buttons">
                    <ul>
                        <li>
                            <div class="fb-like" data-href="https://codeanalyze.com" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                        </li>
                        <li>
                            <div class="g-plusone" data-annotation="none"></div>
                        </li>
                        <li>
                            <a class="twitter-share-button" href="https://twitter.com/codeanalyze_">Tweet</a>
                            <script>
                                window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));
                            </script>
                        </li>
                    </ul>
                </section>*@


                <section id="sidebar-older-post">
                    <div class="ccr-gallery-ttile">
                        <span></span>
                        <p><strong>Recent Post</strong></p>
                    </div>
                    <ul>
                        <li>
                            @Html.Action("RecentPosts", "Master")
                        </li>
                    </ul>

                </section>
                
                <section>
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=computers_accesories&banner=19KA014JRX72FW0QJ7R2&f=ifr&linkID=1dfa41ed234fa5fc9606d2adad432b54&t=codeanalyze-20&tracking_id=codeanalyze-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </section>
                <br/><br />
                <section id="sidebar-popular-post">
                    <div class="ccr-gallery-ttile">
                        <span></span>
                        <p><strong>Popular Post</strong></p>
                    </div>
                    <ul>
                        <li>
                            @Html.Action("PopularPosts", "Master")
                        </li>
                    </ul>

                </section>


                <section id="sidebar-video-post">
                    @*<div class="ccr-gallery-ttile">
                        <span></span>
                        <p><strong>Video Post</strong></p>
                    </div>
                    <div class="sidebar-video">
                        <iframe width="100%" height="195" src="//www.youtube.com/embed?listType=playlist&list=PLr5xM_46LGUtyEyyGilUu3YH5FTNo7SMH" frameborder="0" allowfullscreen></iframe>


                    </div>
                    <div class="date-like-comment">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i>
                    </div>*@

                    @*<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=topratedproducts&banner=07RAS6ASA4P1TSE0B602&f=ifr&linkID=894d011f860c071c6b5ca332a923b212&t=codeanalyze-20&tracking_id=codeanalyze-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>*@
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=giftswishlists&banner=1F9DDR2B1S02Q44F26R2&f=ifr&linkID=e4d045b53325d63ac57b8e3671cebf5e&t=codeanalyze-20&tracking_id=codeanalyze-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </section>


                @*<section id="ccr-sidebar-add-place">
                    <div class="sidebar-add-place">
                    </div>
                </section>*@
            </aside>
        </div>
    </section>


    <aside id="ccr-footer-sidebar">
        <div class="container">
            <ul>
                <li class="col-md-3">
                    <h5 style="color: White">About Us</h5>
                    <div class="about-us">
                        CodeAnalyze is a blogger rewarding platform intended to reward users for posting coding stuff, we believe bloggers deserve it as blogs actually helps many coders.
                        Get rewarded for posting articles, questions, answers as a mark of appreciation.
                    </div>

                </li>
                <li class="col-md-3">
                    <h5 style="color: White">Support</h5>
                    <ul>
                        <li>
                            @Html.ActionLink("Suggestion", "Contact", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Posting Guidlines", "PostingGuidelines", "Home")
                        </li>
                    </ul>

                </li>
                <li class="col-md-3">
                    <h5 style="color: White">CodeAnalyze</h5>
                    <ul>
                        <li>
                            @Html.ActionLink("Home", "Index", "Articles")
                        </li>
                        <li>
                            @Html.ActionLink("Terms & Conditions", "Disclaimer", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Rewards", "Rewards", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About Us", "About", "Home")
                        </li>
                    </ul>

                </li>
                <li class="col-md-3">
                    <h5 style="color: White">Tags</h5>
                    <div class="tagcloud">
                        @Html.ActionLink("Java", "UnAns", "Que", new { ddType = 3 }, null)
                        @Html.ActionLink("C#", "UnAns", "Que", new { ddType = 12 }, null)
                        @Html.ActionLink("Android", "UnAns", "Que", new { ddType = 21 }, null)
                        @Html.ActionLink("XCode", "UnAns", "Que", new { ddType = 20 }, null)
                        @Html.ActionLink("ASP.NET", "UnAns", "Que", new { ddType = 5 }, null)
                        @Html.ActionLink("SharePoint", "UnAns", "Que", new { ddType = 18 }, null)
                        @Html.ActionLink("JQuery", "UnAns", "Que", new { ddType = 22 }, null)
                        @Html.ActionLink("Javascript", "UnAns", "Que", new { ddType = 8 }, null)
                        @Html.ActionLink("PHP", "UnAns", "Que", new { ddType = 4 }, null)
                        @Html.ActionLink("Html5", "UnAns", "Que", new { ddType = 23 }, null)
                        @Html.ActionLink("SQL", "UnAns", "Que", new { ddType = 9 }, null)
                        @Html.ActionLink("LINUX", "UnAns", "Que", new { ddType = 14 }, null)
                        @Html.ActionLink("ASP.NET MVC", "UnAns", "Que", new { ddType = 5 }, null)
                        @Html.ActionLink("Technology", "UnAns", "Que", new { ddType = 19 }, null)

                    </div>

                </li>
            </ul>
        </div>

    </aside>


    <footer id="ccr-footer">
        <div class="container">
            <div class="copyright">
                &copy; 2014, Copyrights <a href="http://codeanalyze.com">CodeAnalyze</a>. All Rights Reserved
            </div>

            @*<div class="footer-social-icons">
                <ul>
                    <li>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="http://twitter.com/codeanalyze_" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>

            </div>*@

        </div>
    </footer>

    <script>
        prettyPrint();
    </script>


    <script type="text/javascript">
var infolinks_pid = 2794566;
var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>

</body>
</html>
